nav.footer-navigation
	ul
		li
			a(href='/annoucement') ANNOUCEMENT
		li
			a(href='javascript:;') PRIVACY POLICY
		li
			a(href='javascript:;') TERM OF SERVICE
		li
			a(href='javascript:;') ERROR REPORT