#brand
	a(href='/')
		img(src='/images/components/posterbay.svg')
nav.main-navigation
	ul
		li
			a(href='/works/public') SHOWROOM
		li
			a(href='/editor') MAKE
		li
			a(href='/resources') RESOURCES

.navigation-buttons
	
	if authorized
		.user-dropdown
			a(href='javascript:;')
				img(src='http://unsplash.it/40x40')
				.name #{user.username}
			ul
				li
					a(href='/user') Profile
				li
					a(href='/logout') Logout
		
	else
		a.btn.bordered.js-login(href='/login') Login
		a.btn.bordered(href='/signup') Signup