extends ./layout

block body
	section
		.container.restrict
			p.
				Canad is based on the famous open source project 'fabric.js' and super-cool nodejs MVC framework 'Sails.js'.

			h3 List of resources provider
			ul
				li
					a(href='http://sailsjs.org/', target="_blank") Sails.js
				li
					a(href='http://flaticon.com', target="_blank")
						|	Flaticon.com 
					| - Really nice icons.
				li
					a(href='http://Unsplash.it', target="_blank")
						|	Unsplash.it
					| - Super high resolution photographs.

			h3 Special Thanks to
				p
					a(href='http://weypro.com') Weypro Technology