extends ./layout

block header
block body
	script.
		(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		s.parentNode.insertBefore(wf, s);
		})(document);
	#canadEditor(data-workid="#{currentArtboard.workid}")
		.canad-editor-topbar
			.presets
				a.btn.btn-withicon.orange(href='javascript:;')
					.icon
						img(src='/images/icons/icon-preset.svg')
					span PRESETS
			.easy-setting
				.privacy-setting
					.toggle-component
						input#privacysetting(type='checkbox', name='privacysetting')
						label(for='privacysetting')
							.ball
				.save
					a.btn.btn-withicon.blue(href='javascript:;')
						.icon
							img(src='/images/icons/icon-save.svg')
						span SAVE
		include ../assets/templates/artboard

block pagescripts
	script(src="/js/editor/vendor/fabric.js")
	script(src="/js/editor/editor/extensions/cc.Extensions.js")
	script(src="/js/editor/CanvasComposer.js")
	script(src="/js/editor/editor/cc.View.js")
	script(src="/js/editor/editor/cc.Initial.js")
	script(src="/js/editor/editor/cc.Load.js")
	script(src="/js/editor/editor/cc.History.js")
	script(src="/js/editor/editor/cc.Presets.js")
	script(src="/js/editor/editor/cc.Menu.js")
	script(src="/js/editor/editor/cc.Menu.ContextMenu.js")
	script(src="/js/editor/editor/cc.Hotkey.js")
	script(src="/js/editor/editor/cc.Artboard.js")
	script(src="/js/editor/editor/cc.Attributions.js")
	script(src="/js/editor/editor/cc.Attributions.canvas.js")
	script(src="/js/editor/editor/cc.bindEvents.js")
	script(src="/js/editor/editor/cc.MediaLibrary.js")
	script(src="/js/editor/editor/cc.Log.js")
	script(src="/js/editor/editor/cc.WeatherAPI.js")
	script(src="/js/editor/vendor/spectrum.js")
	script(src="/js/editor/vendor/Sortable.min.js")
	script(src="/js/editor/editor/cc.Api.js")
	script(src="/js/editor/vendor/moments.js")
	script.
		console.log('#{currentArtboard.data}');
		var data = {
			workData: !{JSON.stringify(currentArtboard.data)}

		};
		var worksizeArray = '#{currentArtboard.worksize}';
		var worksize = worksizeArray.split(',');
		console.log(typeof worksize[0]);
		console.log(worksize[1]);
		console.log(data.workData);
		CanvasComposer.init(data.workData,{
			'width': worksize[0],
			'height': worksize[1]
		});