extends ./layout


block body
	#canvaseditor

block pagescripts
	script(src="/js/dependencies/sails.io.js")
	script(src="/js/dependencies/dist/jquery.js")
	script(src="/js/dependencies/underscore.js")
	script(src="/js/dependencies/backbone.js")
	script(src="/js/editor/vendor/fabric.js")
	script(src="/js/editor/editor/extensions/cc.Extensions.js")
	script(src="/js/editor/CanvasComposer.js")
	script(src="/js/editor/editor/cc.View.js")
	script(src="/js/editor/editor/cc.Initial.js")
	script(src="/js/editor/editor/cc.Load.js")
	script(src="/js/editor/editor/cc.History.js")
	script(src="/js/editor/editor/cc.Presets.js")
	script(src="/js/editor/editor/cc.Menu.js")
	script(src="/js/editor/editor/cc.Menu.ContextMenu.js")
	script(src="/js/editor/editor/cc.Hotkey.js")
	script(src="/js/editor/editor/cc.Artboard.js")
	script(src="/js/editor/editor/cc.Attributions.js")
	script(src="/js/editor/editor/cc.Attributions.canvas.js")
	script(src="/js/editor/editor/cc.bindEvents.js")
	script(src="/js/editor/editor/cc.MediaLibrary.js")
	script(src="/js/editor/editor/cc.Log.js")
	script(src="/js/editor/editor/cc.WeatherAPI.js")
	script(src="/js/editor/vendor/spectrum.js")
	script(src="/js/editor/vendor/Sortable.min.js")
	script(src="/js/editor/editor/cc.Api.js")
	script(src="/js/editor/vendor/moments.js")
	script.
		var data = {};
		CanvasComposer.init('new',{
			'width': '300',
			'height': '300'
		});