extends ./layout


block body
	section
		.restrict
			h1 some useful links
			div
				a.btn.basic.js-login(href='/login') login
				a.btn.basic.js-logout(href='/logout') logout
				a.btn.basic(href='/signup') signup
				a.btn.basic(href='/editor') Editor
