extends ./layout


block body
	section#cover
		p.
			o;egue943o; er;og 34p8grogi erp08g eroig ;eorig epr08 erpwgi jer;gi r;gioj erp ggggg
	section
		.restrict
			h1 some useful links
			div
				a.btn.basic.js-login(href='/login') login
				a.btn.basic.js-logout(href='/logout') logout
				a.btn.basic(href='/signup') signup
				a.btn.basic(href='/editor') Editor
