extends ./layout


block hero
	h1
		span Compose
		|  your poster<br>in 
		span deadly speed.
		
		small Don’t bother the real designers, do it your self for not being hate from them.
	if authorized
		.call-action
			a.btn.confirmation(href='/works/public') Let's see what others have done.
	else
		//- form.signin-form(method='POST', action='/user')
			.controlgroup
				//- input(name='email', type='email', placeholder='E-mail Address')
				//- input(name='password', type='password', placeholder='Custom Password')
				//- button.btn.full.confirmation(type='submit') SIGN UP
		h4 Login via
		.controlgroup
			a.btn.btn-withicon.facebook(href='/auth/facebook')
				.icon
					img(src='/images/icons/icon-facebook.svg')
				span FACEBOOK
			//- a.btn.btn-withicon.google(href='/auth/google', data-action='saveJSON')
			//- 	.icon
			//- 		img(src='/images/icons/icon-googleplus.svg')
			//- 	span GOOGLE+
			a.btn.btn-withicon.red(href='/signup')
				.icon
					img(src='/images/icons/icon-facebook.svg')
				span REGISTER

block body
	section
		.container.restrict.centered
			img(src='/images/components/intro-editor.png')
			p Draftty is still in alpha, use it at your own risk.
