extends ./layout
block hero
	h1
		|	Login
		small
			| Don't have an account yet ? 
			a(href='javascript:;') Register for free !
block body
	section.loggin-wrapper
		.loggin-inner.restrict-tiny
			form.login-form(method="POST" action="/login")
				.controlgroup
					input(type="email", name="email", placeholder="E-mail")
				.controlgroup
					input(type="password", name="password", placeholder="Password")
						
				.call-action
					button.btn.full.confirmation(type="submit") LOGIN
					.form-tips
						|	Forget Password ? 
						a(href='/forget') Find back