extends ./layout

block body
	.restrict
		h1 Login Form
		form(method="POST" action="/login")
			.controlgroup
				label Email
				.controls
					input(type="email" name="email")
			.controlgroup
				label Password
				.controls
					input(type="password" name="password")

			button.btn.basic(type="submit") submit