extends ./layout

block body
	#register
		section
			header
			form#registerform(action='/user/register')
				input(name='username', type='text', placeholder='username')
				input(name='password', type='password', placeholder='password')
				input(name='email', type='email', placeholder='example@domain.com')
				button(type='submit') SUBMIT