extends ./layout

block body
	.restrict
		h1 Signup Form
		form.signin-form(method="POST" action="/user")
			.controlgroup
				label Email
				.controls
					input(type="email" name="email")
			.controlgroup
				label Username
				.controls
					input(type="text" name="username")
			.controlgroup
				label Password
				.controls
					input(type="password" name="password")

			button.btn.basic(type="submit") submit
		