extends ./layout
block hero
	h1 Showroom
block body
	//- p #{publicworks}
	section#works
		.restrict
			.work-list.masonry-list
				ul
					li.work-sizer
					li.work-gutter
					each work in publicworks
						li.work
							.thumbnail
								a(href='/editor/' + work.workid)
									if work.thumbnail
										img(src=work.thumbnail)
									else
										img(src='/images/components/transparent-placeholder.png')
							.caption
								.caption-inner
									.title=work.worktitle
									.author
										|	from : 
										=work.author.username

							.work-privacy
								if work.public
									i.fa.fa-eye
								else
									i.fa.fa-eye
block pagescripts
	script(src="/js/vendor/imagesLoaded.js")
	script(src="/js/vendor/masonry.js")
	script.
		var $workMasonry = $('.masonry-list').masonry({
			// set itemSelector so .grid-sizer is not used in layout
			itemSelector: '.work',
			gutter: '.work-gutter',
			// use element for option
			columnWidth: '.work-sizer',
			percentPosition: true,
			resize: false
		});
		$workMasonry.imagesLoaded().progress( function() {
			$workMasonry.masonry('layout');
		});
		var resizeTimer;
		$(window).on('resize', function(e) {

			clearTimeout(resizeTimer);
			resizeTimer = setTimeout(function() {
				$workMasonry.masonry('layout');
			}, 250);

		});