
<div id="presets" class="floating-menu">
  <div class="presets-inner">
    <div class="preset-filter">
      <div class="controlgroup">
        <label>Category</label>
        <div class="controls">
          <div class="select-wrapper">
            <select id="category-selector">
            </select>
          </div>
        </div>
      </div>
      <div class="controlgroup">
        <label>Sub</label>
        <div class="controls">
          <div class="select-wrapper">
            <select id="subcategory-selector">
            </select>
          </div>
        </div>
      </div>
      <div class="controlgroup"><a href="javascript:;" data-action="saveJSON" class="btn confirmed">Blank</a></div>
    </div>
    <div class="preset-list">
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
      <div class="preset"><a href="javascript:;">
          <div class="thumbnail"><img src="http://unsplash.it/400x300"/></div></a></div>
    </div>
  </div>
</div>