
<div id="clocksettings" class="floating-menu">
  <div class="canvasconfig-wrapper">
    <div class="canvasconfig-inner">
      <div class="row componentpresets">
        <div class="block"><a href="javascript:;" data-src="scripts/presets/clock/style-1.json">
            <div class="thumbnail"><img src="images/clock/style-1.png"/></div>
            <div class="name">Classic</div></a></div>
        <div class="block"><a href="javascript:;" data-src="scripts/presets/clock/style-2.json">
            <div class="thumbnail"><img src="images/clock/style-2.png"/></div>
            <div class="name">Modern</div></a></div>
        <div class="block"><a href="javascript:;" data-src="scripts/presets/clock/style-3.json">
            <div class="thumbnail"><img src="images/clock/style-3.png"/></div>
            <div class="name">Ocean</div></a></div>
        <div class="block"><a href="javascript:;" data-src="scripts/presets/clock/style-4.json">
            <div class="thumbnail"><img src="images/clock/style-4.png"/></div>
            <div class="name">Wooden</div></a></div>
        <div class="block"><a href="javascript:;" data-src="scripts/presets/clock/style-5.json">
            <div class="thumbnail"><img src="images/clock/style-5.png"/></div>
            <div class="name">Tech</div></a></div>
        <div class="block"><a href="javascript:;" data-src="scripts/presets/clock/style-6.json">
            <div class="thumbnail"><img src="images/clock/style-6.png"/></div>
            <div class="name">Banana</div></a></div>
      </div>
    </div>
  </div>
</div>