#clocksettings.floating-menu
	.canvasconfig-wrapper
		.canvasconfig-inner
			.row.componentpresets
				.block
					a(href="javascript:;" data-src="scripts/presets/clock/style-1.json")
						.thumbnail
							img(src='images/clock/style-1.png')
						.name.
							Classic
				.block
					a(href="javascript:;" data-src="scripts/presets/clock/style-2.json")
						.thumbnail
							img(src='images/clock/style-2.png')
						.name.
							Modern
				.block
					a(href="javascript:;" data-src="scripts/presets/clock/style-3.json")
						.thumbnail
							img(src='images/clock/style-3.png')
						.name.
							Ocean
				.block
					a(href="javascript:;" data-src="scripts/presets/clock/style-4.json")
						.thumbnail
							img(src='images/clock/style-4.png')
						.name.
							Wooden
				.block
					a(href="javascript:;" data-src="scripts/presets/clock/style-5.json")
						.thumbnail
							img(src='images/clock/style-5.png')
						.name.
							Tech
				.block
					a(href="javascript:;" data-src="scripts/presets/clock/style-6.json")
						.thumbnail
							img(src='images/clock/style-6.png')
						.name.
							Banana