
<div id="config" style="display: none;">
  <div class="config-inner">
    <div class="panels">
      <div class="attributes-wrapper panel">
        <div class="attributes-inner">
          <div class="block attr color">
            <div class="controlgroup">
              <label>BGColor</label>
              <div class="controls">
                <input id="objectColor" type="text"/>
              </div>
            </div>
          </div>
          <div class="block attr fontfamily text-attr">
            <div class="controlgroup">
              <label>Fonts</label>
              <div class="controls">
                <div class="select-wrapper">
                  <select id="objectFontFamily"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="block attr color text-attr">
            <div class="controlgroup">
              <label>Color</label>
              <div class="controls">
                <input id="objectTextColor" type="text"/>
              </div>
            </div>
          </div>
          <div class="block attr fontsize text-attr">
            <div class="controlgroup">
              <label>Font-size</label>
              <div class="controls">
                <div class="select-wrapper">
                  <select id="objectFontSize">
                    <option value="14">14</option>
                    <option value="18">18</option>
                    <option value="24">24</option>
                    <option value="30">30</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="56">56</option>
                    <option value="64">64</option>
                    <option value="72">72</option>
                    <option value="144">144</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>