#presets.floating-menu
	.presets-inner
		.preset-filter
			.controlgroup
				label Category
				.controls
					.select-wrapper
						if currentArtboard.category
							select#category-selector(data-init-cate="#{currentArtboard.category.id}")
						else
							select#category-selector(data-init-cate="1")
							
			
			.controlgroup
				label Sub
				.controls
					.select-wrapper
						if currentArtboard.subcategory
							select#subcategory-selector(data-init-cate="#{currentArtboard.subcategory.id}")
						else
							select#subcategory-selector

							
			.controlgroup.centered
				a.btn.basic.btn-update(href='javascript:;', data-action='update') USE
		.preset-list

if poppresets
	script.
		var presets = document.getElementById('presets');
		console.log(presets);
		presets.classList.add('active');


