#presets.floating-menu
	.presets-inner
		.preset-filter
			.controlgroup
				label Category
				.controls
					.select-wrapper
						select#category-selector
							each category in categorylist
								if category.id == currentArtboard.category.id
									option(value=category.id selected)=category.name
								else
									option(value=category.id)=category.name
			
			.controlgroup
				label Sub
				.controls
					.select-wrapper
						select#subcategory-selector

							
			.controlgroup.centered
				a.btn.confirmation(href='javascript:;', data-action='update') Blank
		.preset-list
			each i in Array(20)
				.preset
					a(href='javascript:;')
						.thumbnail
							img(src='http://unsplash.it/400x300')

if poppresets
	script.
		var presets = document.getElementById('presets');
		console.log(presets);
		presets.classList.add('active');


