
//Basic Settings
// @import "lib/base";
@import "lib/plugins/spectrum";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

.canad-editor-topbar {
	text-align: center;
	background-color: $black;
	background-image: url('/images/components/darknoise-bg.png');
	color: $white;
	padding: 1em;
	@extend .clr;
	.presets {
		float: left;
	}
	.easy-setting {
		float: right;
	}
	.privacy-setting, .save {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
	}
}

//Artboard
#artboard {
	background-color: $darkestgray;
	background-image: url('/images/components/graynoise-bg.png');
	height: calc(100vh - 76px);
	width: 100%;
	.canvas-wrapper {
		height: 100%;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	// #canvas {
	// 	font-size: 0;
	// 	text-align: center;
	// 	&:before {
	// 		content: '';
	// 		width: 0;
	// 		height: 100%;
	// 		display: inline-block;
	// 		vertical-align: middle;
	// 	}
	// }
	#canvas {
		-webkit-transform-origin: center center;
	    transform-origin: center center;
	    display: inline-block;
		vertical-align: middle;
	}
	.canvas-container {
		// display: inline-block;
		// vertical-align: middle;
		background-image: url('/images/components/transparent.png');
		box-shadow: 3px 3px 3px rgba($black,1);
	}
}

@import "lib/editor/contextMenu";