
//Basic Settings
// @import "lib/base";
@import "lib/plugins/spectrum";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
#canadEditor {
	position: relative;
	height: 100vh;
}
.canad-editor-topbar {
	text-align: center;
	background-color: $black;
	background-image: url('/images/components/darknoise-bg.png');
	color: $white;
	padding: 1em;
	@extend .clr;
	.presets {
		float: left;
	}
	.easy-setting {
		float: right;
	}
	.privacy-setting, .save {
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
	}
	#current-preset {
		position: absolute;
		top: 90px;
		left: 0;
		right: 0;
	}
}

//Artboard
#artboard {
	background-color: $darkestgray;
	background-image: url('/images/components/graynoise-bg.png');
	height: calc(100vh - 76px);
	width: 100%;
	.canvas-wrapper {
		height: 100%;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	#canvas {
		-webkit-transform-origin: center center;
	    transform-origin: center center;
	    display: inline-block;
		vertical-align: middle;
		position: relative;
		&:hover {
			.sizeTag {
				opacity: 1;
				@extend .transition;
			}
		}
		.sizeTag {
			color: $white;
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    pointer-events: none;
		    left: 0;
		    z-index: 1;
		    opacity: .1;
			.tag {
				position: absolute;
				&.width {
					bottom: 103%;
					width: 100%;
					&:after {
					    content: '';
					    width: calc( 100% - 60px );
					    border-bottom: 1px solid #fff;
					    position: absolute;
					    right: 10px;
					    top: 50%;
					}
					&:before {
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 0 5px 10px;
						border-color: transparent transparent transparent $white;
						position: absolute;
						right: 0;
						top: 8px;
					}
				}
				&.height {
					right: 103%;
					height: 100%;
					span {
						display: block;
					    transform: rotate(270deg);
					}
					&:after {
					    content: '';
					    height: calc( 100% - 60px );
					    border-left: 1px solid #fff;
					    position: absolute;
					    right: 50%;
					    bottom: 10px;
					}
					&:before {
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 5px 0 5px;
						border-color: $white transparent transparent transparent;
						position: absolute;
						bottom: 0;
						right: 10px;
					}
				}
			}
		}
	}
	.canvas-container {
		background-image: url('/images/components/transparent.png');
		box-shadow: 3px 3px 3px rgba( $black, 1 );
	}
}

//Menu
#menu {
	position: absolute;
	left: 30px;
	top: 0;
	bottom: 0;
	font-size: 0;
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;
	}
	.menu-inner {
		display: inline-block;
		vertical-align: middle;
		font-size: 1rem;
		background-color: $darkgray;
		border-radius: 6px;
		box-shadow: 2px 2px 0 $black;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			a {
				display: block;
				padding: .5rem;
				color: $white;
				&:hover {
					background-color: $darkestgray;
				}
			}
			&:first-child {
				a {
					border-radius: 6px 6px 0 0;
				}
			}
			&:last-child {
				a {
					border-radius: 0 0 6px 6px;
				}
			}
		}
	}
}
//Presets
#presets {
	background-color: rgba($gray, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 6px;
    @extend .transition;
    &.active {
    	display: block;
    	bottom: 0;
    	height: 100%;
    	.presets-inner {
    		top: 0;
    	}
    }
    .presets-inner {
    	@extend .transition;
    	transition-delay: 100ms;
    	height: 300px;
    	width: 80%;
    	margin: auto;
    	position: absolute;
    	top: -300px;
    	left: 0;
    	right: 0;
    	background-color: $white;
    	padding: 1em;
    	border-radius: 0 0 6px 6px;
    	box-shadow: 0 0 6px 0 $black;
    }
    a {
    	display: block;
    	color: $white;
    }
    .preset-list {
    	@extend .clr;
    	height: calc( 100% - 90px );
    	overflow-y: scroll;
    	.preset {
    		@include gallery( 1 of 5 .1 );
    		margin-bottom: 1em;
    	}
    }
    .preset-filter {
    	@extend .clr;
    	padding: 1em 0;
    	.controlgroup {
    		@include span(5 of 12);
    		&:last-child {
    			@include span( 2 of 12 last);
    		}
    	}
    }
}
#imageLibrary {
	position: fixed;
	left: 100px;
	top: 50%;
	width: 320px;
	margin: auto;
	border-radius: 12px;
	z-index: 99;
	padding: 1em;
	overflow-y: scroll;
	box-sizing: border-box;
	background-color: $darkgray;
	box-shadow: 2px 2px 0 $black;
	display: none;
	&.active {
		display: block;
	}
	ul {
		display: block;
		margin: 0;
		padding: 0;
		list-style-type: none;
		@extend .clr;
		li {
			// @include gallery(6 of 12 .5);
			position: relative;
			margin-bottom: .5em;
			a {
				display: block;
			}
		}
	}
	.item, .item-sizer {
		width: 48%;
	}
	.item-gutter {
		width: 4%;
	}
	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: $white;
		a {
			display: block;
			color: $white;
			font-size: 12px;
			text-align: center;
		}
	}
}
//Floating
.floating-menu {
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 100%;
}

//Config Attributes
#config {
	position: absolute;
	right: 30px;
	top: 76px;
	bottom: 0;
	font-size: 0;
	width: 250px;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
	.config-inner {
		font-size: 1rem;
		color: $white;
		display: inline-block;
		vertical-align: middle;
		background-color: $darkgray;
		color: $white;
		border-radius: 6px;
		box-shadow: 2px 2px 0 #000;
		padding: .5em;
		width: 100%;
	    box-sizing: border-box;
	}
	.attributes-inner {
		.block {
			&:last-child {
				.controlgroup {
					margin-bottom: 0;
				}
			}
		}
	}
}

//Loader
#loading {
	display: none;
}
#loader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 0;
	text-align: center;
	background-color: $black;
	color: $white;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
	.loader-inner {
		font-size: 1rem;
		display: inline-block;
		vertical-align: middle;
	}
}

//Message
#message {
	font-size: .8em;
	display: none;
	position: absolute;
	right: 2em;
	top: 6em;
	color: $white;
	border-radius: 6px;
	background-color: rgba($black,.33);
	padding: 1em 1.5em;
	box-sizing: border-box;
	max-width: 200px;
}
@import "lib/editor/contextMenu";