#presets.floating-menu
	.presets-inner
		.preset-filter
			.controlgroup
				label Category
				.controls
					.select-wrapper
						select
							option Custom
							option Facebook
			.controlgroup
				label Sub
				.controls
					.select-wrapper
						select
							option Cover ( 851x350 )
							option Avatar ( 240x240 )
			.controlgroup
				a.btn.confirmed(href='javascript:;') Custom
		.preset-list
			each i in Array(20)
				.preset
					a(href='javascript:;')
						.thumbnail
							img(src='http://unsplash.it/400x300')