extends ../layout
block hero
	h1
		|	Dashboard
		small
			| Don't have an account yet ? 
			a(href='javascript:;') Register for free !
block body
	.container.restrict
		h2 Dashboard
		h4 Total Works
		h4 Public Works
		h4 Total FileSize
		h2 Category Settings
		h2 Subcategory Settings
				